#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -4;
  }

.my-headfoot-one {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #f1f1f1;
}
.my-main{
    padding: 20px;
    margin: -10px;
    margin-bottom: 5px;
    height: 350px;
    overflow-y: scroll;
}
.h-text{
    font-family: sans-serif;
}
.my-spacer{
    width: 20px;
    height: 10px;

}
#btn1, #btn2, #btn3{
    background: rgba(0, 140, 255, 0.76);
    color: #f1f1f1;
    font-weight: unset;
}
.table-hidden1{
    display: none;
}
.table-hidden2{
    display: table;
}
.table2-hidden{
    display: none;
}
.table2-show{
    display: table;
}
#submit-btn{
    margin-bottom: 10px;
}
.container{
    align-items: center;
}
.form-control:hover{
    box-shadow: 3px 3px 10px black;
}
.input-group-text{
    color: white;
    background: rgba(0, 140, 255, 0.76);
}
#js-btn1, #js-btn{
    margin-right: 7px; margin-left: 7px;
}
.table{
    color: white;
    font-size: 12px;  
}
.btn-row{
    display: inline;
}